In [58]:
import pandas as pd

In [59]:
df = pd.read_csv("../dataset/bonbanh_cleandata.xls")
df.head(5)

,name,status,year,price_num,currency,location,code,car_type,color,transmission,seats,mileage,desc,seller,address,phone,img,fuel_type,engine_capacity
0,Volkswagen Tiguan Allspace - 2023,Mới,2023,1599000000,VND,TP HCM,6356123,Xe nhập khẩu,Xám,số tự động,7,54000.0,"Xe nhập khẩu, màu xám, máy xăng 2.0 L, số tự đ...",Volkswagen Bình Dương,"7A/12A Đại lộ Bình Dương, Phường Bình Hoà TP HCM",0944329148,https://s.bonbanh.com/uploads/users/206217/car...,xăng,2.0
1,Toyota Fortuner Legender 2.4L 4x2 AT - 2025,Mới,2025,1125000000,VND,Hà Nội,6255222,Xe lắp ráp trong nước,Trắng,số tự động,7,54000.0,"Xe lắp ráp trong nước, màu trắng, máy dầu 2.4 ...",Toyota Hoàn Kiếm,"Số 94 Ngô Thì Nhậm ,Phường Phạm Đình Hổ, Quận ...",0833659659,https://s.bonbanh.com/uploads/users/54679/car/...,dầu,2.4
2,Subaru Forester 2.0i-L - 2024,Mới,2024,799000000,VND,TP HCM,6184187,Xe nhập khẩu,Trắng,số tự động,5,54000.0,"Xe nhập khẩu, màu trắng, máy xăng 2.0 L, số tự...",Subaru Gia Định - Thủ Đức,"01-03 Lê Văn Chí, Phường Linh Chiểu, TP Thủ Đứ...",0979753204,https://s.bonbanh.com/uploads/users/455246/car...,xăng,2.0
3,Mitsubishi Triton Athlete 4WD AT - 2025,Mới,2025,868000000,VND,TP HCM,6089369,Xe nhập khẩu,Trắng,số tự động,5,54000.0,"Xe nhập khẩu, màu trắng, máy dầu 2.4 L, số tự ...",Mitsubishi Isamco - Trần ...,"262 Trần Hưng đạo, Phường Cầu Ông Lãnh TP HCM",0934805435,https://s.bonbanh.com/uploads/users/113800/car...,dầu,2.4
4,VinFast VF5 S - 2024,Mới,2024,429000000,VND,Hà Nội,5931494,Xe lắp ráp trong nước,Đỏ,số tự động,5,54000.0,"Xe lắp ráp trong nước, màu đỏ, xe điện , số tự...",Vinfast Hoàng Mai,"Tòa nhà Red River Building, Gamuda Garden, Hoà...",0925589999,https://s.bonbanh.com/uploads/users/794308/car...,xăng,2.0

In [60]:
df.dtypes

name                object
status              object
year                 int64
price_num            int64
currency            object
location            object
code                 int64
car_type            object
color               object
transmission        object
seats                int64
mileage            float64
desc                object
seller              object
address             object
phone               object
img                 object
fuel_type           object
engine_capacity    float64
dtype: object

In [61]:
vis_cols_to_scale = ['price_num', 'mileage']
vis_scaling_params = {}
visualization_df = df.copy()

for col in vis_cols_to_scale:
    mean = visualization_df[col].mean()               # trung bình
    std = visualization_df[col].std()                 # độ lệch chuẩn
    visualization_df[col] = (visualization_df[col] - mean) / std   # Z-score normalization

    vis_scaling_params[col] = {'mean': float(mean), 'std': float(std)}
vis_scaling_params

{'price_num': {'mean': 926484034.0278634, 'std': 619379267.0163128},
 'mileage': {'mean': 52462.150289729994, 'std': 24902.531853120236}}

In [62]:
visualization_df.to_csv("../dataset/visualization_data.csv", index=False)

In [63]:
numeric_cols_model = ['year', 'price_num', 'mileage', 'seats', 'engine_capacity']

df_model = df.copy()
scaling_params_full = {}

In [64]:
for col in numeric_cols_model:
    mean = df_model[col].mean()
    std = df_model[col].std()
    df_model[col] = (df_model[col] - mean) / std
    scaling_params_full[col] = {'mean': float(mean), 'std': float(std)}
scaling_params_full

{'year': {'mean': 2020.7923807175441, 'std': 4.050518974350348},
 'price_num': {'mean': 926484034.0278634, 'std': 619379267.0163128},
 'mileage': {'mean': 52462.150289729994, 'std': 24902.531853120236},
 'seats': {'mean': 5.5840216989273825, 'std': 1.4090813971328482},
 'engine_capacity': {'mean': 1.9882381950437675, 'std': 0.5863856063925641}}

In [65]:
# encoder car_type, color, engine, transmission

cat_cols = ['car_type', 'color', 'transmission', 'fuel_type']
cols = numeric_cols_model + cat_cols

df_clean = df_model[cols].copy()

df_final = pd.get_dummies(df_clean, columns=cat_cols, dummy_na=False)
dummy_cols = [col for col in df_final.columns if col not in numeric_cols_model]
dummy_cols

['car_type_Xe lắp ráp trong nước',
 'car_type_Xe nhập khẩu',
 'color_Bạc',
 'color_Cam',
 'color_Cát',
 'color_Ghi',
 'color_Hồng',
 'color_Kem',
 'color_Ngoại',
 'color_Nâu',
 'color_Trắng',
 'color_Tím',
 'color_Vàng',
 'color_Xanh',
 'color_Xám',
 'color_Đen',
 'color_Đỏ',
 'color_Đồng',
 'transmission_số tay',
 'transmission_số tự động',
 'fuel_type_dầu',
 'fuel_type_xăng']

In [66]:
df_final.head()

,year,price_num,mileage,seats,engine_capacity,car_type_Xe lắp ráp trong nước,car_type_Xe nhập khẩu,color_Bạc,color_Cam,color_Cát,...,color_Vàng,color_Xanh,color_Xám,color_Đen,color_Đỏ,color_Đồng,transmission_số tay,transmission_số tự động,fuel_type_dầu,fuel_type_xăng
0,0.545021,1.085790,0.061755,1.004895,0.020058,False,True,False,False,False,...,False,False,True,False,False,False,False,True,False,True
1,1.038785,0.320508,0.061755,1.004895,0.702203,True,False,False,False,False,...,False,False,False,False,False,False,False,True,True,False
2,0.791903,-0.205825,0.061755,-0.414470,0.020058,False,True,False,False,False,...,False,False,False,False,False,False,False,True,False,True
3,1.038785,-0.094424,0.061755,-0.414470,0.702203,False,True,False,False,False,...,False,False,False,False,False,False,False,True,True,False
4,0.791903,-0.803198,0.061755,-0.414470,0.020058,True,False,False,False,False,...,False,False,False,False,True,False,False,True,False,True

In [67]:
df_final.to_csv('../dataset/normalization_One-hot-Encoder.csv', index=False)
pd.DataFrame.from_dict(scaling_params_full, orient='index').to_csv("../dataset/scaling_params_full.csv")